<header class="site-header">
	<div class="branding">
		{% if site.theme_settings.gravatar %}
		<a href="{{ site.baseurl }}/">
			<img class="avatar" src="https://secure.gravatar.com/avatar/{{ site.theme_settings.gravatar }}?s=100" alt=""/>
		</a>
		{% elsif site.theme_settings.avatar %}
		<a href="{{ site.baseurl }}/">
			<img class="avatar" src="{{ site.baseurl }}/{{ site.theme_settings.avatar }}" alt=""/>
		</a>
		{% endif %}
		<h1 class="site-title">
			<a href="{{ site.baseurl }}/">{{ site.theme_settings.title }}</a>
		</h1>
		<nav class="site-nav">
				<ul>
					<li> <a class="page-link" href="/about">About</a> </li>					
					<li> <a class="page-link" href="/archive">Archive</a> </li>
					<li> <a class="page-link" href="/tags">Tags</a> </li>

					<!-- Search bar -->
					{% if site.theme_settings.search %}
					<li>
					<form action="{{ site.baseurl }}/search.html" method="get">
						<input type="text" id="search-box" name="query" placeholder="Search" class="">
						<button type="submit" class="">
							<i class="fa fa-fw fa-search"></i>
						</button>
					</form>
					</li>
					{% endif %}
				</ul>
		</nav>
	</div>

	<div class="site-category">
			<ul class='cat1'>
				<li><a href="/">Home</a></li>
				<li><a href="/">Pentesting</a>
					<ul>
						<li><a href="/Pentest/iOS">iOS</a></li>
						<li><a href="/Pentest/Android">Android</a></li>
						<li><a href="/Pentest/PWeb">Web</a></li>
					</ul>
				</li>

				<li><a href="/">Wargame</a>
					<ul>
						<li><a href="/Wargame/LoS">Load of SQL Injection</a></li>
						<li><a href="/Wargame/Pwnkr">Pwnable.kr</a></li>
						<li><a href="/Wargame/Warkr">Wargame.kr</a></li>
						<li><a href="/Wargame/XG">XSS Game</a></li>
					</ul>
				</li>

				<li><a href="/">CTF</a>
					<ul>
						<li><a href="/CTF/2018">2018</a></li>
						<li><a href="/CTF/2019">2019</a></li>
					</ul>
				</li>

				<li><a href="/">Error</a>
					<ul>
						<li><a href="/Error/Linux">Linux</a></li>
						<li><a href="/Error/Python">Python</a></li>
					</ul>
				</li>

				<li><a href="/">Development</a>
					<ul>
						<li><a href="/Develop/Database">Database</a></li>
						<li><a href="/Develop/Blog">Github Blog</a></li>
						<li><a href="/Develop/DWeb">Web</a></li>
						<li><a href="/Develop/Docker">Docker</a></li>
						<li><a href="/Develop/Basic">Basic</a></li>
					</ul>
				</li>
			</ul>
		</div>

</header>
